* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f3ee;
}


.heading {
    font-size: 2rem;
}

.btn {
    margin-top: 100px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #8a817c;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

-- .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 800px;
    background-color: rgba(70, 63, 58, 0.8);
    box-shadow: 0 0 10px 0 black;
    border-radius: 20px;
    color: #e0afa0;
    transition: all 0.5s ease-in-out;
}

#data {
    margin: 0 50px 0 50px;
}

.card:hover {
    transform: scale(0.98);
}